<%- include("../partials/header")-%>
    <section class="page home">
        <div class="navbar"></div>
        <div class="wrapper">
            <div class="filters-container">
            </div>
            <div class="products-container">
            </div>
        </div>
        <div class="actions">
            <div class="float-action">
                <div class="action" id="show-account-action">

                </div>
                <img src="/src<%=avatar%>" alt="<%=name%> <%=lastname%>">
            </div>
            <div class="float-action">
                <div class="action" id="add-product-action">

                </div>
                <span class="material-icons">
                    add
                </span>
            </div>
            <div class="float-action">
                <div class="action" id="show-cart-action">

                </div>
                <span class="material-icons">
                    shopping_cart
                </span>
            </div>
            <div class="float-action">
                <div class="action" id="show-messenger-action">

                </div>
                <span class="material-icons">
                    question_answer
                </span>
             </div>
        </div>
    </section>
<%- include("../partials/footer")-%>