<%- include("../partials/header")-%>
    <section class="page home">
        <div class="navbar"></div>
        <div class="wrapper">
            <div id="filters-container">
            </div>
            <div id="products-container">
            </div>
        </div>
        <div class="actions">
            <div class="float-action">
                <div class="action" id="show-account-action"></div>
                <span class="material-icons">person</span>
            </div>
            <div class="float-action">
                <div class="action" id="show-stock-action"></div>
                <span class="material-icons">local_offer</span>
            </div>
            <div class="float-action">
                <div class="action" id="show-cart-action"></div>
                <span class="material-icons">shopping_cart</span>
            </div>
            <div class="float-action">
                <div class="action" id="show-messenger-action"></div>
                <span class="material-icons">question_answer</span>
             </div>
        </div>
        <script>
            const User = {name: "", lastname: "", avatar: "", email: "", role: ""};
            User.name = "<%= name%>";
            User.lastname = "<%= lastname%>";
            User.avatar = "<%= avatar%>";
            User.email = "<%= email%>";
            User.role = "<%= role%>";
        </script>
    </section>
<%- include("../partials/footer")-%>